{% extends "base.html" %}

{% block title %}Equipment{% endblock %}

{% block content %}

<h1>Equipment</h1>

<hr class="border-3">

<a href="{{ url_for('render_add_equipment') }}" class="btn btn-primary mb-3">Add an item</a>

<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for item in equipment %}
    <div class="col">
        <div class="card h-100">
            <img src="{{ url_for('static', filename=item['image_path']) }}" class="card-img-top" alt="{{ item['summary'] }}">
            <div class="card-body">
                <h5 class="card-title">{{ item['name'] }}</h5>
                <p class="card-text">{{ item['summary'][:30] }} ...</p>
            </div>
            <div class="card-footer bg-transparent">
                <a href="{{ url_for('render_one_item', item_id=item['id']) }}" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}