{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row justify-content-center align-items-center g-5 py-5">
    <div class="col-lg-4 d-flex flex-column align-items-center">
        <!-- Button for "Player Line" -->
        <button type="button" class="btn btn-primary btn-lg mb-3">Player Line</button>

        <!-- Button for "MatchUp Predictor" -->
        <button type="button" class="btn btn-secondary btn-lg">MatchUp Predictor</button>
    </div>
</div>

{% endblock %}
