{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row"></div>
<div class="column">
    <div class="col-12 col-me-6 col-lg-4 col-xl-3">
        <h1>Adventure Outfitters</h1>
        <p> Adventure outfitters has been preparing our members for adventures since 2005. We maintain the highest of standards, and test our equpitment in real enviornments. When you adventure with us: You're gonna like the way you adventure, I assure it.</p>
        <a href="{{url_for('render_equipment')}}">
            <button class="btn btn-primary" value="equipment">Equipment</button>
        </a>
        <a href="{{url_for('render_people')}}">
            <button class="btn btn-primary" value="people">People</button>
        </a>
    </div>
</div>
<div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Capybara_portrait.jpg/1200px-Capybara_portrait.jpg?20140423185251" alt=""
    style="width: 200px;height: 150px;">
</div>
</div>


{% endblock %}