{% extends "base.html" %}

{% block title %}{{ item['name'] }}{% endblock %}

{% block content %}

<h1>{{ item['name'] }}</h1>

<hr class="border-3">

<a href="{{ url_for('render_edit_equipment', item_id=item_id) }}" class="btn btn-primary mb-3">Edit details</a>

{% if item['currently_availible'] == '1'%}
    <form action="{{ url_for('rent_item', item_id=item_id) }}" method="post">
        <div class="form-group mb-3">
            <label for="member_id">Choose Member:</label>
            <select name="member_id" id="member_id" class="form-control">
                {% for member in members %}
                    <option value="{{ member['id'] }}">{{ member['name'] }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-success">Rent Item</button>
    </form>
{% else %}
    <form action="{{ url_for('return_item', item_id=item_id) }}" method="post">
        <button type="submit" class="btn btn-warning">Return Item</button>
    </form>
    <p>Checked out date: {{ item['purchase_date'] }}</p>
    <p>Due date: {{ item['due_date'] }}</p>
{% endif %}


<h2 class="my-3">Overview</h2>

<div class="row">
    <div class="col-md-6">
        <div class="table-responsive">
            <table class="table table-striped-columns">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ item['name'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Short Summary</th>
                        <td>{{ item['summary'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{ item['description'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Daily Rental Price</th>
                        <td>${{ item['daily_rental_price'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Quantity</th>
                        <td>{{ item['quantity'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Weight</th>
                        <td>{{ item['weight'] }} lbs</td>
                    </tr>
                    <tr>
                        <th scope="row">Purchase Date</th>
                        <td>{{ item['purchase_date'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Notes</th>
                        <td>{{ item['notes'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">available</th>
                        <td>{{ item['availible'] }}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-6">
        <img class="img-fluid mx-auto d-block rounded" src="{{ url_for('static', filename=item['image_path']) }}"
            alt="{{ item['description'] }}">
    </div>
</div>
{% endblock %}